* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Rale-way', sans-serif;
    
}


h2 {
    text-align: center;
}

/* NAVBAR CSS START */

#navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background:#96897f;
    color: white;
}


#navbar ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: flex-end;
}

li a {
    text-decoration: none;
    display:block;
    height:50px;
    width:100px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    padding:0 20px 0 20px;
    color:white;
   
}

li a:hover {
    background:#625750;
}

/* NAVBAR CSS END */

#welcome-section {
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background:#96897f;
}

a {
    text-decoration:none;
    color:black;
}

.main-section {
    padding-top:40px;
    background: #c6bcb6;
}

#project {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.project-tile {
    height:200px;
    width: 300px;
    margin:20px 40px;
    text-align:center;
    background:#e0e2e4;
    border: solid black 2px;
    padding:2px;
}

.project-img {
    height:170px;
    width:100%;
}

#profile {
    height:300px;
    background: #e0e2e4;
    text-align:center;
}

#profile-link, #profile-link2{
    display:inline-block;
    padding:30px;
}


a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}


@media (max-width: 480px) {
  

   
}